<html>
<head>	
<meta chatset="UTF-8">   
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style>
	#chatInput { position: fixed; bottom: 0; width:100% }   /* 화면 하단 고정 */	
	#userInput { width:80%; margin-left:1%; margin-right:1%; }
	#submitButton { width:15%; }
	#messages { padding-left: 10; }
 	#messages li { list-style-type: none; }
   #chat_rooms li { display:inline; padding-right: 10px; }
</style>
</head>
<body>
<h3>사다조 채팅</h3>

<div>   
   사다조 요청하기
</div>


<ul id="messages">
</ul>  
<form id="chatInput" action="./" class="form-inline">
	<input type="text" id="userInput" class="form-control" />
	<input type="submit" id="submitButton" class="btn btn-default" value="Send" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	// html 모두 로딩 후 스크립트 로딩
	var socket = io();
  
	socket.on('connect', function() {
		console.log('connect');
	});
  
	socket.on('toClient', function(data) {
		var msg = data['msg'];
      var sender = data['sender'];
      var str = sender + ' : ' + msg;
      // 채팅 메세지
		$('#messages').append($('<li>').text(str));
	});
  
	$('#chatInput').submit(function() {
		var userInput = $('#userInput').val();
      var sender = $('#user').val();
      socket.emit('toServer', {sender : sender, msg :userInput});
      
		$('#userInput').val('');
		return false; // refresh 방지
	});
   
   function connectChatRoom(room) {
      var user = $('#user').val();
      console.log('Joining chat room : ', room);
      socket.emit('joinRoom', {room : room, user : user});                        
   }
        

   $(document).ready(function() {
      var room = $('#room').val();       
      console.log('room : ', room);
      connectChatRoom(room);
   });

   // $.getJSON('/rooms', function(data) {
   //    var roomList = data;
   //    var room = $('#room').val();
   //    connectChatRoom(room);       
   // });

</script>
<input type="hidden" id="room" value="<%= data.room %>" />
<input type="hidden" id="user" value="<%= data.user %>" />
</body>
</html>